@media (min-width: 992px) {
  //Nav

  .nav {
    &__items {
      position: relative;
    }

    &__hamburger {
      display: none;
    }

    &__logo {
      width: 245px;
    }

    &__list {
      justify-content: flex-end;
      flex-direction: row;
      position: absolute;
      top: 42px;
      height: 0;
      transform: translateX(0);
      opacity: 1;
    }

    &__li {
      font-size: 2.2rem;
    }

    &__link {
      transition: color 0.3s;

      &:hover {
        color: $mainColor;
      }
    }
  }

  //Header

  .header {
    height: 55vh;
    background-image: url('../img/header-large.webp');

    &__title {
      font-size: 3.5rem;
    }
  }

  //About us

  .about-us {
    &__box {
      display: flex;
    }

    &__text-box {
      padding: 0 0 0 3.5em;
    }

    &__text {
      text-align: left;
    }

    &__accordion-btn {
      transition: background 0.3s;

      &:hover {
        background: $darkWhite;
      }
    }
  }

  //Opinions

  .opinions {
    padding: 2em;
  }

  //Offer

  .offer {
    &__card {
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.15);
      }
    }

    &__card-btn {
      font-size: 1.55rem;
      transition: color 0.3s, background 0.3s;

      &:hover {
        color: $white;
        background: $mainColor;
      }
    }
  }

  //Products

  .products {
    &__menu-tab {
      transition: background 0.3s;

      &:hover:not(.products__menu-tab-active) {
        background: $lightGray;
      }
    }

    &__card {
      margin: 1.5em 2em 1.5em 0;
    }

    &__card {
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  //Contact

  .contact {
    &__general-box {
      margin-bottom: 3.5em;
      padding-top: 2em;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }

    &__info-box {
      grid-column: 1/5;
    }

    &__form {
      margin: 0;
      grid-column: 6/13;
    }

    &__icon-info {
      &--link {
        z-index: 1;
        overflow: hidden;
        transition: color 0.3s;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          transform: translateY(100%);
          background: $mainColor;
          z-index: -1;
          transition: 0.3s;
        }

        &:hover::after {
          transform: translateY(0);
        }

        &:hover {
          color: $white;
        }
      }
    }

    &__submit-btn {
      z-index: 2;
      overflow: hidden;
      transition: color 0.5s, border 0.5s;

      &::after {
        content: '';
        position: absolute;
        left: -10%;
        bottom: -180%;
        width: 120%;
        height: 150%;
        background: $mainColor;
        z-index: -1;
        transition: transform 0.5s;
      }

      &:hover::after {
        transform: translateY(-100%);
      }

      &:hover {
        color: $white;
        border: 1px solid transparent;
      }
    }
  }
}

@media (min-width: 1098px) {
  .offer {
    &__card {
      &--special {
        order: 0;
      }
    }
  }
}
